body {
    background-color:#302010;
    background-image:url("/hmw.jpg");
    background-position:top-left;

    background-size:auto,cover;
    }

.header {
    color:#813143;
    margin:auto;
    text-align:center;
    }

.textarea {
    text-align:center;
    }

.tarea {
    background-color:#f2e1d0;
    text-size:1.1em;
    }





